<footer class="footer">
	<div class="container-fluid">
		<ul class="nav">
			<li class="nav-item">
				<a href="javascript:void(0)" class="nav-link">
					About Us
				</a>
			</li>
		</ul>
		<div class="copyright">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script>
			<a href="https://tabulate.tech" target="_blank">Connor Sample</a>.
		</div>
	</div>
</footer>