<div class="sidebar">
	<!--
		Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
-->
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="javascript:void(0)" class="simple-text logo-mini">
				CT
			</a>
			<a href="javascript:void(0)" class="simple-text logo-normal">
				Creative Tim
			</a>
		</div>
		<ul class="nav">
			<li {% if request.path == '/' %}class="active"{% endif %}>
				<a href="/index">
					<i class="tim-icons icon-chart-pie-36"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li {% if request.path == '/icons' %}class="active"{% endif %}>
				<a href="/icons">
					<i class="tim-icons icon-atom"></i>
					<p>Icons</p>
				</a>
			</li>
			<li {% if request.path == '/notifications' %}class="active"{% endif %}>
				<a href="/notifications">
					<i class="tim-icons icon-bell-55"></i>
					<p>Notifications</p>
				</a>
			</li>
			<li {% if request.path == '/user' %}class="active"{% endif %}>
				<a href="/user">
					<i class="tim-icons icon-single-02"></i>
					<p>User Profile</p>
				</a>
			</li>
			<li {% if request.path == '/tables' %}class="active"{% endif %}>
				<a href="/tables">
					<i class="tim-icons icon-puzzle-10"></i>
					<p>Table List</p>
				</a>
			</li>
			<li {% if request.path == '/typography' %}class="active"{% endif %}>
				<a href="/typography">
					<i class="tim-icons icon-align-center"></i>
					<p>Typography</p>
				</a>
			</li>
		</ul>
	</div>
</div>