{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
	{{ macros.metadata("Dashboard") }}
</head>

<body>
	<div class="wrapper">
		{% include 'includes/sidebar.html' %}
		<div class="main-panel">
			<!-- Navbar -->
			{% include 'includes/navbar.html' %}
			<!-- End Navbar -->
			<div class="content">
				<div class='card m-5 mr-5 p-5'>
					<div class='card-header text-center'>
						<h3 class='title'>Log In</h3>
					</div>
					<div class='text-center'>
						<hr class='bg-light mb-4' style='max-width: 30%'>
						<div class="row justify-content-md-center">
							<div class="col-md-3">
								<a class="btn" href="/" role="button">
									<i class="fa-brands fa-github"></i>
									Sign in with Github
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'includes/footer.html' %}
		</div>
	</div>
	<!--	 Core JS Files	 -->
	<script src="/static/js/core/jquery.min.js"></script>
	<script src="/static/js/core/popper.min.js"></script>
	<script src="/static/js/core/bootstrap.min.js"></script>
	<script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!-- Chart JS -->
	<script src="/static/js/plugins/chartjs.min.js"></script>
	<!--	Notifications Plugin		-->
	<script src="/static/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="/static/js/black-dashboard.min.js?v=1.0.0"></script>
	<script src="/static/js/scripts.js"></script>
	<script src="/static/js/demo.js"></script>
</body>

</html>