{# Metadata in <head> #}
{% macro metadata(title) %}
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/static/img/favicon.png">
	<title>{{title}}</title>
	<!--     Fonts and icons     -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
	<link href="/static/fontawesome/css/all.min.css" rel="stylesheet">
	<!-- Nucleo Icons -->
	<link href="/static/css/nucleo-icons.css" rel="stylesheet" />
	<!-- CSS Files -->
	<link href="/static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
{% endmacro %}