{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
	{{ macros.metadata("Notifications") }}
</head>

<body>
	<div class="wrapper">
		{% include 'includes/sidebar.html' %}
		<div class="main-panel">
			<!-- Navbar -->
			{% include 'includes/navbar.html' %}
			<!-- End Navbar -->
			<div class="content">
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Notifications Style</h4>
							</div>
							<div class="card-body">
								<div class="alert alert-info">
									<span>This is a plain notification</span>
								</div>
								<div class="alert alert-info">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span>This is a notification with close button.</span>
								</div>
								<div class="alert alert-info alert-with-icon" data-notify="container">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span data-notify="icon" class="tim-icons icon-bell-55"></span>
									<span data-notify="message">This is a notification with close button and icon.</span>
								</div>
								<div class="alert alert-info alert-with-icon" data-notify="container">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span data-notify="icon" class="tim-icons icon-bell-55"></span>
									<span data-notify="message">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Notification states</h4>
							</div>
							<div class="card-body">
								<div class="alert alert-primary">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span><b> Primary - </b> This is a regular notification made with ".alert-primary"</span>
								</div>
								<div class="alert alert-info">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span><b> Info - </b> This is a regular notification made with ".alert-info"</span>
								</div>
								<div class="alert alert-success">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span><b> Success - </b> This is a regular notification made with ".alert-success"</span>
								</div>
								<div class="alert alert-warning">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span><b> Warning - </b> This is a regular notification made with ".alert-warning"</span>
								</div>
								<div class="alert alert-danger">
									<button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
										<i class="tim-icons icon-simple-remove"></i>
									</button>
									<span><b> Danger - </b> This is a regular notification made with ".alert-danger"</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<div class="places-buttons">
									<div class="row">
										<div class="col-md-6 ml-auto mr-auto text-center">
											<h4 class="card-title">
												Notifications Places
												<p class="category">Click to view notifications</p>
											</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-8 ml-auto mr-auto">
											<div class="row">
												<div class="col-md-4">
													<button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Top Left</button>
												</div>
												<div class="col-md-4">
													<button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Top Center</button>
												</div>
												<div class="col-md-4">
													<button class="btn btn-primary btn-block" onclick="demo.showNotification('top','right')">Top Right</button>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-8 ml-auto mr-auto">
											<div class="row">
												<div class="col-md-4">
													<button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','left')">Bottom Left</button>
												</div>
												<div class="col-md-4">
													<button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','center')">Bottom Center</button>
												</div>
												<div class="col-md-4">
													<button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','right')">Bottom Right</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'includes/footer.html' %}
		</div>
	</div>
	<!--	 Core JS Files	 -->
	<script src="/static/js/core/jquery.min.js"></script>
	<script src="/static/js/core/popper.min.js"></script>
	<script src="/static/js/core/bootstrap.min.js"></script>
	<script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!-- Chart JS -->
	<script src="/static/js/plugins/chartjs.min.js"></script>
	<!--	Notifications Plugin		-->
	<script src="/static/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="/static/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
	<script src="/static/demo/demo.js"></script>
	<script src="/static/js/scripts.js"></script>
</body>

</html>