{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
	{{ macros.metadata("Tables") }}
</head>

<body>
	<div class="wrapper">
		{% include 'includes/sidebar.html' %}
		<div class="main-panel">
			<!-- Navbar -->
			{% include 'includes/navbar.html' %}
			<!-- End Navbar -->
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card ">
							<div class="card-header">
								<h4 class="card-title"> Simple Table</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table tablesorter " id="">
										<thead class=" text-primary">
											<tr>
												<th>
													Name
												</th>
												<th>
													Country
												</th>
												<th>
													City
												</th>
												<th class="text-center">
													Salary
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													Dakota Rice
												</td>
												<td>
													Niger
												</td>
												<td>
													Oud-Turnhout
												</td>
												<td class="text-center">
													$36,738
												</td>
											</tr>
											<tr>
												<td>
													Minerva Hooper
												</td>
												<td>
													Curaçao
												</td>
												<td>
													Sinaai-Waas
												</td>
												<td class="text-center">
													$23,789
												</td>
											</tr>
											<tr>
												<td>
													Sage Rodriguez
												</td>
												<td>
													Netherlands
												</td>
												<td>
													Baileux
												</td>
												<td class="text-center">
													$56,142
												</td>
											</tr>
											<tr>
												<td>
													Philip Chaney
												</td>
												<td>
													Korea, South
												</td>
												<td>
													Overland Park
												</td>
												<td class="text-center">
													$38,735
												</td>
											</tr>
											<tr>
												<td>
													Doris Greene
												</td>
												<td>
													Malawi
												</td>
												<td>
													Feldkirchen in Kärnten
												</td>
												<td class="text-center">
													$63,542
												</td>
											</tr>
											<tr>
												<td>
													Mason Porter
												</td>
												<td>
													Chile
												</td>
												<td>
													Gloucester
												</td>
												<td class="text-center">
													$78,615
												</td>
											</tr>
											<tr>
												<td>
													Jon Porter
												</td>
												<td>
													Portugal
												</td>
												<td>
													Gloucester
												</td>
												<td class="text-center">
													$98,615
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="card	card-plain">
							<div class="card-header">
								<h4 class="card-title"> Table on Plain Background</h4>
								<p class="category"> Here is a subtitle for this table</p>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table tablesorter " id="">
										<thead class=" text-primary">
											<tr>
												<th>
													Name
												</th>
												<th>
													Country
												</th>
												<th>
													City
												</th>
												<th class="text-center">
													Salary
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													Dakota Rice
												</td>
												<td>
													Niger
												</td>
												<td>
													Oud-Turnhout
												</td>
												<td class="text-center">
													$36,738
												</td>
											</tr>
											<tr>
												<td>
													Minerva Hooper
												</td>
												<td>
													Curaçao
												</td>
												<td>
													Sinaai-Waas
												</td>
												<td class="text-center">
													$23,789
												</td>
											</tr>
											<tr>
												<td>
													Sage Rodriguez
												</td>
												<td>
													Netherlands
												</td>
												<td>
													Baileux
												</td>
												<td class="text-center">
													$56,142
												</td>
											</tr>
											<tr>
												<td>
													Philip Chaney
												</td>
												<td>
													Korea, South
												</td>
												<td>
													Overland Park
												</td>
												<td class="text-center">
													$38,735
												</td>
											</tr>
											<tr>
												<td>
													Doris Greene
												</td>
												<td>
													Malawi
												</td>
												<td>
													Feldkirchen in Kärnten
												</td>
												<td class="text-center">
													$63,542
												</td>
											</tr>
											<tr>
												<td>
													Mason Porter
												</td>
												<td>
													Chile
												</td>
												<td>
													Gloucester
												</td>
												<td class="text-center">
													$78,615
												</td>
											</tr>
											<tr>
												<td>
													Jon Porter
												</td>
												<td>
													Portugal
												</td>
												<td>
													Gloucester
												</td>
												<td class="text-center">
													$98,615
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'includes/footer.html' %}
		</div>
	</div>
	<!--	 Core JS Files	 -->
	<script src="/static/js/core/jquery.min.js"></script>
	<script src="/static/js/core/popper.min.js"></script>
	<script src="/static/js/core/bootstrap.min.js"></script>
	<script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<!-- Chart JS -->
	<script src="/static/js/plugins/chartjs.min.js"></script>
	<!--	Notifications Plugin		-->
	<script src="/static/js/plugins/bootstrap-notify.js"></script>
	<!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="/static/js/black-dashboard.min.js?v=1.0.0"></script>
	<script src="/static/js/scripts.js"></script>
</body>

</html>